./.git/objects/b1/0bf56769f4eae809c06fff26da9c100c841ca5
./Resources/Medical_image_recognition,_segmentation_and_parsin_2716358_(z-lib.org).pdf
./.git/objects/3a/49f5e2d0824d4a6d8302deec6088a023c534f2
./.git/objects/b1/0bf56769f4eae809c06fff26da9c100c841ca5
./Resources/Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow, 2nd Edition by Aurélien Géron (z-lib.org).pdf
./Resources/Medical_image_recognition,_segmentation_and_parsin_2716358_(z-lib.org).pdf
